* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: center;
  position: relative;
  color: hsl(192, 100%, 9%);
}

h1,
h3 {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  /* display: grid;
  grid-template-columns: column; */
  display: flex;
  flex-direction: column;
}

header {
  background-color: hsl(193, 100%, 96%);
  background-image: url("images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2em;
}

.huddle-try-free {
  display: flex;
  justify-content: space-between;
  margin: 2em auto;
  padding: 0 1em;
}

.huddle-try-free img {
  max-width: 100%;
  max-height: 100%;
}

button {
  border: none;
  border-radius: 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  -webkit-box-shadow: 0px 0px 12px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 12px -8px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

button:active,
button:focus {
  outline-style: none;
}

.try-free-btn {
  width: 8em;
  height: 2.2em;
  background-color: #fff;
}

button.try-free-btn:hover {
  background: #ff00cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #7b429c, #ff00cc);
  background: linear-gradient(to left, #7b429c, #ff00cc);
  color: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.top-content {
  max-width: 80%;
  margin: 0 auto;
}

.hero {
  padding: 1em 0;
}

.hero h1 {
  font-size: 1.7em;
  font-weight: 700;
}

.hero p {
  font-size: 1em;
  padding: 1.5em 0;
  line-height: 1.5;
  letter-spacing: 1.2px;
}

.start-free-btn {
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  width: 50%;
  margin: 15px 0px;
  height: 3.5em;
  cursor: pointer;
}

.start-free-btn:hover {
  background: #ff52bf; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #7b429c, #ff52bf);
  background: linear-gradient(to left, #7b429c, #ff52bf);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.hero-image {
  padding-top: 1em;
}

.hero-image img {
  width: 80%;
}

main {
  margin: 2em auto;
  max-width: 75%;
}
main article {
  margin: 1em auto 2em;
  border: 1px solid #eee;
  border-radius: 15px;
  padding: 3em 1.5em 2em;
  -webkit-box-shadow: 0px 0px 12px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 12px -8px rgba(0, 0, 0, 0.75);
}

article img {
  width: 80%;
}

.grow-image,
.flow-image,
.user-image {
  margin-bottom: 1em;
}
article h3 {
  font-weight: 700;
  padding: 15px 0;
}

article p {
  color: hsl(208, 11%, 55%);
  font-size: 0.8em;
}

.build-comm {
  background-color: #fff;
  margin: -7em 2em 0 2em;
  border-radius: 15px;
  padding: 50px 10px 30px;
  -webkit-box-shadow: 0px 0px 12px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 12px -8px rgba(0, 0, 0, 0.75);
}

.build-comm h3 {
  font-weight: 600;
  color: hsl(192, 100%, 9%);
}

footer {
  margin-top: 7em;
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  max-width: 100%;
}

.foot-logo,
.foot-content {
  padding: 0 2em;
}

.foot-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
}

.foot-content a {
  color: #fff;
  text-decoration: none;
}

.foot-logo {
  margin: 5em 0 1.5em 0;
  text-align: left;
}

.foot-logo img {
  max-width: 50%;
  height: auto;
}

.white {
  filter: brightness(0) invert(1);
}

.foot-contact {
  display: flex;
  justify-content: start;
  margin-bottom: 23px;
  letter-spacing: 1px;
}

.foot-contact i {
  font-size: 1.5em;
  margin-right: 18px;
}

.nav-list-1 {
  margin-top: 15px;
}

nav ul {
  list-style: none;
}

nav li {
  padding: 10px 0px;
}

.social-copy {
  text-align: center;
  margin: 40px 0px;
}

.social i {
  margin: 20px;
  font-size: 1.5em;
}

.copy {
  font-size: 0.7em;
  margin-top: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 20px;
}

.nav-link a:hover,
.attribution a,
.social a:hover {
  color: hsl(322, 100%, 66%);
}

.nav-link a:hover,
.attribution a:hover {
  color: hsl(322, 100%, 50%);
}
